$font: "Nunito Sans", sans-serif;

$transparent: transparent;
$white: #ffffff;
$black: #000000;
$red: #ff0000;

$topcol: #3f3f3f;
$searchic: #1a1a1a;
$btn: #dc181f;
$topbg: #ececec;
$border: #c8c8c8;
